<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= player.name %></title>
</head>
<body>
    <a href="/players">Back to All Players</a>
    <h1> Edit <%= player.name %> Info</h1>
    <form action="/players/<%=player._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= player.name %>" />
    
        <label for="isActive">Is this player still an active player in the league?</label>
        <input type="checkbox" name="isActive" <% if (player.isActive) { %>checked<% } %> >
        <button type="submit">Update Player Info</button>
      </form>
</body>
</html>