<!-- views/players/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Player Info</title>
  </head>
  <body>
    <h1>Add Player Information!</h1>
    <form action="/players" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
  
      <label for="isActive">Is this player still active in the nba?</label>
      <input type="checkbox" name="isActive" id="isActive" />
  
      <button type="submit">Add Player</button>
    </form>
  </body>
</html>